<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us</title>
  </head>
  <body>
    <h1>About the Mini Messageboard</h1>
    <p>This project is simple template rendering.</p>
    <%- include('footer') %>
  </body>
</html>
