<h1>Message Details</h1>
<p><strong>User:</strong> <%= message.user %></p>
<p><strong>Message:</strong> <%= message.text %></p>
<p><strong>Sent:</strong> <%= message.added %></p>
<hr />
<a href="/">Back to Home</a>

<%- include('footer') %>
