<h1>New Message</h1>
<form method="POST" action="/new">
  <input type="text" name="messageUser" placeholder="Your Name" required />
  <br />
  <textarea name="messageText" placeholder="Your Message" required></textarea>
  <br />
  <button type="submit">Submit</button>
</form>
<a href="/">Back to Board</a>

<%- include('footer') %>
